*.Rmd linguist-language=R linguist-detectable -linguist-documentation
*.rmd linguist-language=R linguist-detectable -linguist-documentation
*.md linguist-language=HTML linguist-detectable -linguist-documentation
